apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    group: cluster.x-k8s.io
    version: v1beta1
    kind: Cluster
  patch: |-
    - op: add
      path: /spec/topology/workers/machineDeployments/0/metadata/annotations/cluster.x-k8s.io~1cluster-api-autoscaler-node-group-max-size
      value: "5"
    - op: add
      path: /spec/topology/workers/machineDeployments/0/metadata/annotations/cluster.x-k8s.io~1cluster-api-autoscaler-node-group-min-size
      value: "3"