apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

secretGenerator:
- name: istio-values-dev
  namespace: infra-packages
  files:
  - values.yml=istio-values.yaml
  options:
      disableNameSuffixHash: true

patches:
- target:
    group: packaging.carvel.dev
    version: v1alpha1
    kind: PackageInstall
    name: istio
    namespace: infra-packages
  patch: |-
    - op: add
      path: /spec/values/-
      value:
        secretRef:
          name: istio-values-dev