apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../../../base/vks-cluster
- ../../../base/cluster-argocd-attach
- ./cluster-details.yaml
- ../vars
components:
# - ../../../components/ha-control-plane
- ../../../components/antrea-nsx
- ../../../components/argocd-tenant-cluster
- ../../../components/istio
- ../../../components/ako
- ../../../components/ako-istio
- ../../../components/cluster-var-injector
- ../../../components/cluster-autoscaling
- ../../../components/envs/dev


## only enable is autoscaling is not enabled
# patches:
# - target:
#     kind: Cluster
#     group: cluster.x-k8s.io
#     version: v1beta1
#   patch: |
#     - op: replace
#       path: /spec/topology/workers/machineDeployments/0/replicas
#       value: 3
