apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    group: controlplane.cluster.x-k8s.io
    version: v1beta1
    kind: KubeadmControlPlane
    name: aws-cluster-control-plane
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
