apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component
patches:
- target:
    group: cluster.x-k8s.io
    version: v1beta1
    kind: Cluster
  patch: |-
    - op: replace
      path: /spec/topology/controlPlane/replicas
      value: 3
