apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../../../base/aws-cluster
components:
- ../../../../components/ha-control-plane
patches:
- target:
    group: cluster.x-k8s.io
    version: v1beta1
    kind: Cluster
    name: aws-cluster
  patch: |-
    - op: replace
      path: /metadata/name
      value: dev-cluster
    - op: replace
      path: /spec/infrastructureRef/name
      value: dev-cluster
    - op: replace
      path: /spec/controlPlaneRef/name
      value: dev-cluster-control-plane
- target:
    group: infrastructure.cluster.x-k8s.io
    version: v1beta1
    kind: AWSCluster
    name: aws-cluster
  patch: |-
    - op: replace
      path: /metadata/name
      value: dev-cluster
- target:
    group: controlplane.cluster.x-k8s.io
    version: v1beta1
    kind: KubeadmControlPlane
    name: aws-cluster-control-plane
  patch: |-
    - op: replace
      path: /metadata/name
      value: dev-cluster-control-plane
