apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
components:
- ../../components/stacks/standard
- ../../components/envs/dev
patches:
- target:
    group: apps
    version: v1
    kind: Deployment
    name: istiod
    namespace: istio-system
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 2
